body,
p,
ul,h3,h1,h5 {
  margin: 0;

}
button{
  cursor: pointer;
}
/* Navbar */
header {
  padding:2%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    justify-content: end;
}

a.nav-item {
  color: #ffffff;
  display: flex;
}

a.nav-item:hover{
  color: #c91b28;
}

/* End of Navbar */
.dark_section{
  background-color: #111111;
  color: #ffffff;
}
.grey_section{
  background-color: #181818;
  color: #ffffff;
}
.hero-container{
  display: flex;
  align-items: center;
}
.hero-img{
  width: 100%;
}
.hero-desc>h3{
  color: #c91b28;
}
.hero-desc>h1{
  font-size: 2.5em;
  margin: 0.6rem 0;
}
.btn{
  background-color: #c91b28;
  color: #ffffff;
  padding: 1rem 3rem;
}
.btn-about{
  margin: 1rem 0;
}
.cards_container{
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 0;
}
.feature_card{
  flex-basis: 15rem;
  background-color: #1e1e1e;
  padding: 1rem;
  align-self: center;
  cursor: pointer;
}
.know_more_container{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #c91b28;
}
.know_more_container>div{
  width: 10%;
}
.know_more_container>div>img{
  width: 100%;
}
.feature_card:hover *{
  color: #ffffff;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(117%) contrast(100%);
}
.feature_card:hover{
  background-color: #c91b28;
}
.accountability_container{
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 0;
}
.accountability_years{
  text-align: center;
}
.accountability_years>h1{
  font-size: 5em;
  color: #c91b28;
}
.accountability_numbers{
  display: grid;
  gap: 6rem;
  text-align: center;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
}
.accountability_card{
  background-color: #1e1e1e;
  display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
}
.accountability_card>h1{
  font-size: 3em;
  color: #c91b28;
  margin-bottom: 2%;
}
.featured_projects_container{
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-gap: 2.5rem;
  /* grid-auto-rows: 100px; */
  grid-template-areas:
      ". a a a . b b b ."
      ". a a a . b b b ."
      ". . . . . . . . ."
      ". c c c . d d d ."
      ". c c c . d d d ."; 
 margin: 0 10rem 10rem 0;
}
.card_one{
  grid-area: a;
}
.card_two{
  grid-area: b;
}
.card_three{
  grid-area: c;
}
.card_four{
  grid-area: d;
}
.featured_desc{
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
}
.featured_img{
  width: 80%;
}
.featured_img>img{
  width: 100%;
  padding: 10%;
  background-color: #1e1e1e;
}
.know_more_img_div{
  width: 2% !important;
}
.projects_container{
  display: flex;
    justify-content: space-around;
    padding: 3rem;
    width: 50%;
    margin: auto;
    align-items: center;
    gap: 5rem;
}
.projects_heading{
  font-size: 3em;
}
.nav_items_container{
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0;
  cursor: pointer;
}
.contacts{
  display: flex;
  gap: 2rem;
}
footer{
  display: flex;
    gap: 30rem;
    padding: 3rem 0 3rem 3rem;
}
@media only screen and (max-width:1134px) {
  .accountability_numbers{
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media only screen and (max-width:769px) {
  .accountability_numbers{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
@media only screen and (max-width:734px) {
  .cards_container{
    flex-wrap: wrap-reverse;
  }
  .accountability_container{
    flex-wrap: wrap;
  }
  .featured_desc{
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
  }
   .featured_projects_container{
    grid-template-areas:
    ". a a a a a a a a"
    ". . . . . . . . ."
    ". b b b b b b b b"
    ". . . . . . . . ."
    ". c c c c c c c c"
    ". . . . . . . . ."
    ". d d d d d d d d";
    margin: 0;
  } 
  .projects_container{
    flex-wrap: wrap;
  }
  footer{
    gap: 0;
    justify-content: space-around;
    align-items: center;
  }
  nav{
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .nav_items_container{
    gap: 1rem;
  }
}
@media only screen and (min-width:2560px) {
.projects_container{
  margin: 30rem auto;
}
}